extends _head
block content
    .container
        .row
            .col-md-8.col-xs-12.col-sm-12.col-md-offset-2
                img(src="/example.svg", style='width: 100%')
                .row
                    h1.col-xs-9.text-left Product #{id}
                    h1.col-xs-3.text-right.text-muted $#{id * 100}
                h4.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatum laboriosam voluptates tempora delectus a iusto tenetur laborum suscipit, libero, similique ipsam quo est laudantium earum. Cum, ab possimus beatae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolor, debitis ducimus corporis veniam harum porro nobis voluptate, necessitatibus adipisci quidem blanditiis nostrum aliquam labore animi enim ipsum cumque incidunt.
