extends _head
block content
    #search-container.container.margin-bot
        .row
            .col-sm-12
                .input-group
                    input.text-center.form-control(type='text', placeholder='Search')
                    span.input-group-addon
                        button(type='submit')
                            span.glyphicon.glyphicon-search
    #content-container.container
        .row
            #sidebar.col-xs-12.col-sm-3
                .list-group
                    a.list-group-item(href='#') Category 1
                    a.list-group-item(href='#') Category 2
                    a.list-group-item(href='#') Category 3
                    a.list-group-item(href='#') Category 4
                    a.list-group-item(href='#') Category 5
                    a.list-group-item(href='#') Category 6
                    a.list-group-item(href='#') Category 7
                    a.list-group-item(href='#') Category 8
                    a.list-group-item(href='#') Category 9
            .col-xs-12.col-sm-9
                .jumbotron.text-center
                    h1.margin-bot-lg Welcome to <b>gMag</b>!
                    .row
                        .container
                            a.col-sm-4.col-sm-offset-1.btn.btn-primary.btn-lg(href='/browse') Browse products
                            a.col-sm-4.col-sm-offset-2.btn.btn-primary.btn-lg(href='/sell') Sell something
                .row
                    each i in [1, 2, 3]
                        .col-xs-6.col-lg-4
                            h2 Recent Item #{i}
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est molestiae, illo quod accusamus, perferendis asperiores numquam, aliquam nobis repudiandae iusto accusantium ducimus ipsum facere, iste eius dolor magni officia beatae.
                            a.btn.btn-default(href='/details/' + i, role='button') View details
