extends _head
block content
    #search-container.container.margin-bot-md
        .row
            .col-sm-12
                .input-group
                    input.text-center.form-control(type='text', placeholder='Search')
                    span.input-group-addon
                        button(type='submit')
                            span.glyphicon.glyphicon-search
    #content-container.container
        .row
            .col-sm-12.col-sm-3
                .list-group
                    each c in categories
                        a.list-group-item(href='/browse/' + c.url) #{c.title}
            .col-sm-12.col-sm-9
                .jumbotron.text-center
                    h1.margin-bot-lg Welcome to <b>gMag</b>!
                    .row
                        .container
                            a.col-xs-12.col-sm-5.col-sm-offset-0.margin-bot-md.btn.btn-primary.btn-lg(href='/browse')
                                | Browse all categories
                            a.col-xs-12.col-sm-5.col-sm-offset-2.margin-bot-md.btn.btn-primary.btn-lg(href='/sell')
                                | Sell something
                .row
                    each i in [1, 2, 3]
                        .col-xs-6.col-lg-4
                            img(src='/example.svg', style='width: 100%')
                            a(href='/details/' + i)
                                h3 Recent Item #{i}
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est molestiae, illo quod accusamus, perferendis asperiores numquam, aliquam nobis repudiandae.
