html,
body {
  overflow-x: hidden;
}
html {
  overflow-y: scroll;
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

#search-container {
  margin-bottom: 20px;
}
#search-container .input-group-addon {
  background: white;
}
#search-container .form-control {
  border-color: #ccc;
}
#search-container button {
  border: 0;
  background: white;
}
