/* global */
html,
body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}


/* bootstrap extensions */
.hidden {
    display: none;
}

.padding-none {
    padding: 0;
}

.margin-none {
    margin: 0;
}

.margin-bot-sm {
    margin-bottom: 10px;
}

.margin-bot-md {
    margin-bottom: 20px;
}

.margin-bot-lg {
    margin-bottom: 45px;
}


/* custom styles */
#search .input-group-addon {
    background: white;
}

#search .form-control {
    border-color: #ccc;
}

#search button {
    border: 0;
    background: white;
}

.card .img-container {
    width: 100%;
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h3.col-xs-9{
    overflow: hidden;
    text-overflow: ellipsis;
}
