extends _base
block content
    .row
        .col-xs-12.text-center
                each c in categories
                    .row
                        h1.col-xs-12
                            a.list-group-item(href='/browse/' + c.url) #{c.title}
                    +productsList(c.products)
