extends _head
block content
    .row.text-center.margin-bot-md
        h1 #{userProfile.username}
    .row.text-muted.text-center.margin-bot-md
        h2 Products by <b>#{userProfile.username}</b>
    .row.scroll
        +productsList(userProducts)

    script window.filter = !{JSON.stringify(filter)}
    script(src='/scripts/scroll.js')
