extends _base
block content
    .row.text-center.margin-bot-md
        h1 #{userProfile.username}

    ul.nav.nav-tabs
        li.active
            a(data-toggle='tab', href='#products')
                if (isViewers)
                    | Your Products
                else
                    | #{userProfile.username}'s products
        if (isViewers)
            li
                a(data-toggle='tab', href='#favs')
                    | Your favourites
    .tab-content
        #products.tab-pane.fade.in.active
            .row
                +productsList(userProducts)
        if (isViewers)
            #favs.tab-pane.fade
                .row
                    +productsList(userFavourites)
