extends _base
block content
    .row.text-center.margin-bot-md
        h1 #{userProfile.username}
    .row.text-muted.text-center.margin-bot-md
        h2 Products by <b>#{userProfile.username}</b>
    .row.scroll
        +productsList(userProducts)

block scripts
    +attachToWindow(windowCtx)
    script(src='/scripts/scroll.js')
