extends _base
block content
    .row.text-center.margin-bot-md
        h1 #{userProfile.username}
    .row.text-muted.text-center.margin-bot-md
        if (isViewers)
            h2 Your Products
        else
            h2 <b>#{userProfile.username}'s</b> products
    .row.scroll
        +productsList(userProducts)

block scripts
    +attachToWindow(windowCtx)
    script(src='/scripts/scroll.js')
